@-webkit-keyframes fade-in{
  0%{
    opacity:0
  }
  to{
    opacity:1
  }
}
@keyframes fade-in{
  0%{
    opacity:0
  }
  to{
    opacity:1
  }
}
@-webkit-keyframes fade-out{
  0%{
    opacity:1
  }
  to{
    opacity:0
  }
}
@keyframes fade-out{
  0%{
      opacity:1
  }
  to{
      opacity:0
  }
}
@-webkit-keyframes translate-up-0{
  0%{
      transform:translateY(100%)
  }
  to{
      transform:translateY(0)
  }
}
@keyframes translate-up-0{
  0%{
      transform:translateY(100%)
  }
  to{
      transform:translateY(0)
  }
}
@-webkit-keyframes translate-up-25{
  0%{
      transform:translateY(25%)
  }
  to{
      transform:translateY(0)
  }
}
@keyframes translate-up-25{
  0%{
      transform:translateY(25%)
  }
  to{
      transform:translateY(0)
  }
}
@-webkit-keyframes translate-up-0-masked{
  0%{
      transform:translateY(103%)
  }
  to{
      transform:translateY(0)
  }
}
@keyframes translate-up-0-masked{
  0%{
      transform:translateY(103%)
  }
  to{
      transform:translateY(0)
  }
}
@-webkit-keyframes translate-up-100{
  0%{
      transform:translateY(0)
  }
  to{
      transform:translateY(-100%)
  }
}
@keyframes translate-up-100{
  0%{
      transform:translateY(0)
  }
  to{
      transform:translateY(-100%)
  }
}
@-webkit-keyframes translate-down-0{
  0%{
      transform:translateY(-100%)
  }
  to{
      transform:translateY(0)
  }
}
@keyframes translate-down-0{
  0%{
      transform:translateY(-100%)
  }
  to{
      transform:translateY(0)
  }
}
@-webkit-keyframes translate-down-100{
  0%{
      transform:translateY(0)
  }
  to{
      transform:translateY(100%)
  }
}
@keyframes translate-down-100{
  0%{
      transform:translateY(0)
  }
  to{
      transform:translateY(100%)
  }
}
@-webkit-keyframes overlay-slide-left{
  0%{
      transform:translateX(calc((var(--grid-width) + var(--grid-gutter) - var(--grid-padding)*2)/var(--grid-column-count)*8 + var(--grid-padding)))
  }
  to{
      transform:translateX(0)
  }
}
@keyframes overlay-slide-left{
  0%{
      transform:translateX(calc((var(--grid-width) + var(--grid-gutter) - var(--grid-padding)*2)/var(--grid-column-count)*8 + var(--grid-padding)))
  }
  to{
      transform:translateX(0)
  }
}
@-webkit-keyframes noise{
  0%{
      transform:translate3d(0,9rem,0)
  }
  10%{
      transform:translate3d(-1rem,-4rem,0)
  }
  20%{
      transform:translate3d(-8rem,2rem,0)
  }
  30%{
      transform:translate3d(9rem,-9rem,0)
  }
  40%{
      transform:translate3d(-2rem,7rem,0)
  }
  50%{
      transform:translate3d(-9rem,-4rem,0)
  }
  60%{
      transform:translate3d(2rem,6rem,0)
  }
  70%{
      transform:translate3d(7rem,-8rem,0)
  }
  80%{
      transform:translate3d(-9rem,1rem,0)
  }
  90%{
      transform:translate3d(6rem,-5rem,0)
  }
  to{
      transform:translate3d(-7rem,0,0)
  }
}
@keyframes noise{
  0%{
      transform:translate3d(0,9rem,0)
  }
  10%{
      transform:translate3d(-1rem,-4rem,0)
  }
  20%{
      transform:translate3d(-8rem,2rem,0)
  }
  30%{
      transform:translate3d(9rem,-9rem,0)
  }
  40%{
      transform:translate3d(-2rem,7rem,0)
  }
  50%{
      transform:translate3d(-9rem,-4rem,0)
  }
  60%{
      transform:translate3d(2rem,6rem,0)
  }
  70%{
      transform:translate3d(7rem,-8rem,0)
  }
  80%{
      transform:translate3d(-9rem,1rem,0)
  }
  90%{
      transform:translate3d(6rem,-5rem,0)
  }
  to{
      transform:translate3d(-7rem,0,0)
  }
}
@-webkit-keyframes push-arrow{
  0%{
      transform:none
  }
  50%{
      transform:translateX(100%)
  }
  50.1%{
      transform:translateX(-100%)
  }
  to{
      transform:none
  }
}
@keyframes push-arrow{
  0%{
      transform:none
  }
  50%{
      transform:translateX(100%)
  }
  50.1%{
      transform:translateX(-100%)
  }
  to{
      transform:none
  }
}
@media print{
  *{
    background:transparent!important;
    color:#000!important;
    box-shadow:none!important;
    text-shadow:none!important
  }
  a,a:visited{
    text-decoration:underline
  }
  a[href]:after{
    content:" (" attr(href) ")"
  }
  abbr[title]:after{
    content:" (" attr(title) ")"
  }
  .ir a:after,a[href^="#"]:after,a[href^="javascript:"]:after{
    content:""
  }
  blockquote,pre{
    border:.1rem solid #999;
    page-break-inside:avoid
  }
  thead{
    display:table-header-group
  }
  img,tr{
    page-break-inside:avoid
  }
  img{
    max-width:100%!important
  }
  h2,h3,p{
    orphans:3;
    widows:3;
  }
  h2,h3{
    page-break-after:avoid
  }
}
