html, body {
  height: 100%;
  width: 100%;
  font-family: 'Roboto', sans-serif;
  color: #798379;
  background-color: #c7d7c922;
}
section, header, article, div {
  display: flex;
}
a {
  color: #333;
  text-decoration: none;
}
.container {
  width: 100%;
  height: 100%;
  border-bottom: 1px solid #333;
}

#app {
  display: flex;
  flex-direction: row;
  height: 100vh;
  width: 100%;
}
#sidebar {
  width: 260px;
  flex-direction: column;
}
#sidebar-detail {
  width: 0;
  background-color: #c7d7c9;
}
#sidebar-detail.expanded {
  /* width: 300px; */
  animation: expanded 0.6s var(--ease-out) forwards;
  animation-delay: .7s;
}
@keyframes expanded {
  0% {
    width: 0;
  }
  100% {
    width: 300px;
  }
}
#post {
  background-color: antiquewhite;
  flex: 1;
}
#subpost {
  background-color: rgb(122, 103, 75);
  width: 400px;
}

/* 프로필 */
.profile {
  flex-direction: column;
  align-items: center;
  /* background-color: #fff; */
  padding: 80px 0;
}
.profile-image {
  width: 150px;
  height: 150px;
}
.profile-blog-name {
  display: block;
  font-weight: 700;
  font-size: 36px;
  margin-top: 20px;
}
.profile-blog-description {
  display: block;
  font-weight: 400;
  font-size: 24px;
  margin-top: 6px;
}

/* 카테고리 */
.categories {
  flex: 1;
  /* background-color: #eee; */
  /* margin-top: auto; */
  /* margin-bottom: 40px; */
}
.category {}
.category-link {
  position: relative;
  display: block;
  padding-left: 40px;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 1.15px;
  color: #8D958D99;
  border-bottom: 1px solid #00000011;
}
.category-link::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #c7d7c9;
  top: 0;
  left: 0;
  transform: translateX(-100%);
  z-index: -1;
  border-radius: 0 50px 50px 0;
}
.category-link:hover {
  color: #798379;
  transition: color .3s;
}
.category-link.selected {
  color: #798379;
  transition: all .7s;
}
.category-link.selected::after {
  animation: selected 0.6s var(--ease-out) forwards;
}
@keyframes selected {
  0% {
    transform: translateX(-100%);
    border-radius: 0 50px 50px 0;
  }
  70% {
    border-radius: 0 50px 50px 0;
  }
  100% {
    transform: translateX(0%);
    border-radius: 0 0 0 0;
  }
}