@charset "UTF-8";

/* width */
::-webkit-scrollbar {
  display: none;
}
html, body {
  height: 100%;
  width: 100%;
  font-family: 'Roboto', sans-serif;
  color: #798379;
  background-color: #c7d7c922;
}
section, header, article, div {
  display: flex;
}
a {
  color: #333;
  text-decoration: none;
}
.container {
  width: 100%;
  height: 100%;
  border-bottom: 1px solid #333;
}

#scrollbar {
  position: absolute;
  height: 5px;
  width: 100%;
  top: 0;
  left: 0;
  background-color: none;
  z-index: 100;
}
#scrollbar .background {
  height: 100%;
  width: 100%;
  transform: translateX(-100%);
  background-color: #77817733;
}
#app {
  display: flex;
  flex-direction: row;
  height: 100vh;
  width: 100%;
}
#sidebar {
  flex: none;
  width: 260px;
  flex-direction: column;
  box-shadow: 0 0 7px #c7d7c9;
}
#sidebar-detail {
  flex: none;
  position: relative;
  display: flex;
  flex-direction: column;
  /* background-color: #c7d7c9; */
  background-color: #333;
  background: none;
  overflow-x: hidden;
  overflow-y: auto;
  width: 300px;
  transform: translateX(-100%);
  z-index: -10;
}
#sidebar-detail.expanded {
  /* width: 300px; */
  animation: expanded 0.6s var(--ease-out) forwards;
}
@keyframes expanded {
  0% {
    z-index: -10;
    transform: translateX(-100%);
  }
  100% {
    z-index: 1;
    transform: translateX(0%);
  }
}
#sidebar-detail.expanded .background {
  position: absolute;
  left: 0;
  top: 0;
  /* background-color: #c7d7c9; */
  background-color: #E4EAE4;
  width: 300%;
  height: 100%;
  transform: translateX(-100%);
  border-radius: 0 200px 200px 0;
  z-index: -1;
}
#sidebar-detail.expanded .background.show {
  animation: right-background 2s var(--ease-out) forwards;
  animation-delay: .7s;
}
@keyframes right-background {
  0% {
    border-radius: 0 200px 200px 0;
    transform: translateX(-100%);
  }
  100% {
    border-radius: 0;
    transform: translateX(0%);
  }
}
#sidebar-detail .group {
  display: none;
  opacity: 0;
  transform: translateX(-20px);
}
#sidebar-detail .group.show {
  display: flex;
  animation: show-group 0.6s var(--ease-out) forwards;
  animation-delay: 1.2s;
}
@keyframes show-group {
  0% {
    opacity: 0;
    transform: translateX(-20px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
#page {
  /* background-color: antiquewhite; */
  flex: 1;
  /* background-color: #333; */
  flex-direction: row;
}
.page-ad {
  position: relative;
  transform: translateX(-300px) scale(0.12);
  place-items: center;
  height: 100vh;
  perspective: 3200px;
  perspective-origin: 50% 50%;
}
#subpage {
  width: 300px;
  background-color: #fff;
}

/* 프로필 */
.profile {
  flex-direction: column;
  align-items: center;
  padding: 80px 0;
}
.profile-image {
  width: 150px;
  height: 150px;
}
.profile-blog-name {
  display: block;
  font-weight: 700;
  font-size: 36px;
  margin-top: 20px;
}
.profile-blog-description {
  display: block;
  font-weight: 400;
  font-size: 24px;
  margin-top: 6px;
}

/* 카테고리 */
.categories {
  flex: 1;
}
.category {}
.category-link {
  position: relative;
  display: block;
  padding-left: 40px;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 1.15px;
  color: #8D958D99;
  border-bottom: 1px solid #00000011;
}
.category-link::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  /* background-color: #c7d7c9; */
  background-color: #E4EAE4;
  top: 0;
  left: 0;
  transform: translateX(-100%);
  z-index: -1;
  border-radius: 0 50px 50px 0;
}
.category-link:hover {
  color: #798379;
  transition: color .3s;
}
.category-link.selected {
  color: #798379;
  transition: all .7s;
}
.category-link.selected::after {
  animation: selected 0.6s var(--ease-out) forwards;
}
@keyframes selected {
  0% {
    transform: translateX(-100%);
    border-radius: 0 50px 50px 0;
  }
  70% {
    border-radius: 0 50px 50px 0;
  }
  100% {
    transform: translateX(0%);
    border-radius: 0 0 0 0;
  }
}

/* 포스트 목록 */
.group {
  flex-direction: column;
  padding: 16px 0;
  /* background-color: #333; */
  background-color: #E4EAE4;
}
.group-name {
  font-weight: 500;
  font-size: 14px;
  color: #798379;
  padding-left: 30px;
  margin-top: 12px;
}
.posts {
  margin-top: 12px;
}
.post {}
.post-link {
  display: block;
  padding: 12px 30px;
  font-size: 16px;
  color: #5f665f;
}

.page-ad {
  position: absolute;
  height: 100vh;
  background-color: #5f665faa;
  width: 300px;
  justify-content: center;
  align-items: center;
  /* Empty style */
  color: #E4EAE4;
  font-size: 30px;
  text-transform: uppercase;
}

/* 포스트 내용 */
.page-content {
  background-color: #fff;
  flex: 1;
  flex-direction: column;
  overflow-y: auto;
  padding: 20px 30px;
  padding-bottom: 50vh;
}
.page-content h1 {
  font-size: 1.65em;
  font-weight: bold;
  padding-top: 10px;
  padding-bottom: 15px;
}
.page-content h2 {
	font-size: 1.25em;
	font-weight: bold;
  padding-top: 30px;
  padding-bottom: 10px;
}
.page-content h3 {
  font-size: 1.125em;
	font-weight: bold;
  padding-top: 30px;
  padding-bottom: 8px;
}
.page-content h4 {
  font-weight: bold;
  padding-top: 30px;
  padding-bottom: 6px;
}
.page-content p {
	font-size: 1em;
}
.page-content pre {
	white-space: pre-wrap;       /* Since CSS 2.1 */
	white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
	white-space: -pre-wrap;      /* Opera 4-6 */
	white-space: -o-pre-wrap;    /* Opera 7 */
	word-wrap: break-word;       /* Internet Explorer 5.5+ */
	font-size: 1em;
	margin-top: 1rem;
	margin-bottom: 1rem;
}
.page-content .hljs {
	background: #ffffff;
	border-radius: 8px;
	/* border: 1px solid var(--color-page-light); */
}
.page-content b {
	font-size: 1em;
	font-weight: bold;
}
.page-content img {
	border-radius: 8px;
	margin-top: 1rem !important;
	margin-bottom: 1rem !important;
  width: 100%;
}
.page-content a {}

/* 목차 페이지 */
.subpage {
  padding: 20px 30px;
  flex-direction: column;
  width: 100%;
}
.index-title {
  letter-spacing: 2px;
  font-weight: 300;
  font-size: 16px;
  padding-top: 10px;
  padding-bottom: 20px;
}
.index-group-wrapper {
  position: relative;
  overflow: hidden;
}
.index-group-wrapper .background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #798379;
  transform: translateY(-100%);
  mix-blend-mode: screen;
}
.index-group {
  flex-direction: column;
  width: 100%;
}
.index-group .header-index {
  display: block;
  padding: 12px 20px;
  border-left: 3px solid #798379;
  background-color: #ffffff55;
}
.index-group .header-index.active {
  font-weight: bold;
}